body,
html {
  color: #555;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #fcfcfc;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}

textarea {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin-right: 15%;
  margin-left: 15%;
}

.sections {
  padding: none;
}

p,
h1,
h2 {
  cursor: default;
}

h1 {
  color: #2978b5;
}
